* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 10px 20px;
    background:#FCFAFA;
  }

  .container {
    width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #C8D0D8;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les sections */
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom:17px;/* Espacement entre le titre et la section suivante */
  }

  .header h1 {
    color: #005761   ;
  }

  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -20px;
  }

  .input p {
    font-size: 15px;
    font-weight: 500;
    color: gray;
    margin: 5px 0;
  }

  .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 10px;
  }

  .inputs input {
    height: 45px;
    width: 300px; /* Largeur du champ plus grande */
    border-radius: 6px;
    outline: none;
    font-size: 1rem; /* Taille de police légèrement plus petite */
    font-weight: 200; /* Poids de police plus fort */
    text-align: center;
    border:none;
    background: #eee;
  }

  .inputs input::placeholder {
    text-align: left; /* Aligner le placeholder à gauche */
    padding-left: 13px;
    color: gray;
  }
  .inputs input:hover {
    border: 2px solid black;
}
  .btn {
    width: 100%;
    text-align: center;
  }

 .btn button {
    width: 200px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border: none;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    background: #00ADB3;
    transition: all 0.2s ease;
}


  button.active {
    background: #187C88;
    pointer-events: auto;
  }

  form button:hover {
    background: #187C88;
  }
  .loading-icon {
        width: 20px;
        height: 20px;
        border: 2px solid white; /* Bordure blanche */
        border-top: 2px solid #187C88; /* Couleur bleue pour le dessus de la bordure */
        border-radius: 50%;
        animation: spin 1s linear infinite; /* Animation de rotation */
        background-color: transparent; /* Couleur de fond bleue correspondant au bouton */
        display: none; /* Caché par défaut */
        vertical-align: middle; /* Alignement vertical au centre */
        margin-right: 5px; /* Marge à droite pour l'espacement avec le texte */
      }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      /* Style pour la classe alert */
      .alert {
          padding: 15px;
          margin-bottom: 20px;
          border: 1px solid transparent;
          border-radius: 4px;
      }

      /* Style pour la classe alert-danger */
      .alert-danger {
          color: #721c24;  /* Couleur du texte */
          background-color: #f8d7da;  /* Couleur de fond */
          border-color: #f5c6cb;
          width: 300px;
          font-size: 11px;
          font-weight: bold;
          margin-left: 40px;
          margin-bottom: 20px;
          margin-top: 12px;/* Couleur de la bordure */
      }

