<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Acceuil</title>
	    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
	    <!----css3---->
        <link rel="stylesheet" href="assets/css/custom.css">
		<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
      <link rel="icon" type="image/png" href="assets/img/pharmacie.png"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
<div class="wrapper">


<div class="body-overlay"></div>


        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img src="img/pharmacie.png" class="img-fluid"/><span style="color:#005761;">MedConnect</span></h3>
            </div>
            <ul class="list-unstyled components">
			<li  class="active">
                    <a href="#" class="dashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
                </li>
		      <div class="small-screen navbar-display">
				<li class="dropdown d-lg-none d-md-block d-xl-none d-sm-block">
                    <a href="#profileSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">person</i><span>User</span>
                    </a>
                    <ul class="collapse list-unstyled menu" id="profileSubmenu">
                        <li><a href="#" id="profileLink">Profile</a></li>
                        <li> <a href="#" id="logoutLink">Logout</a></li>
                    </ul>
                </li>
				</div>
				 <li  class="">
                    <a href="#"><i class="material-icons">library_books</i><span>Calender</span></a>
                </li>
               
               
            </ul>

           
        </nav>
		
		

        <!-- Page Content  -->
        <div id="content">
		
		<div class="top-navbar">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                        <span class="material-icons">arrow_back_ios</span>
                    </button>
					
					<a class="navbar-brand" href="#"> Dashboard </a>

                    <button class="d-inline-block d-lg-none ml-auto more-button" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-icons">more_vert</span>
                    </button>

                    <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">   
                            <li class="dropdown nav-item">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <span class="material-icons">person</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="profileLink2">Profile</a></li>
                                    <li> <a href="#" id="logoutLink2">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
	    </div>
			
			
			<div class="main-content">
			
			<div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats shadow">
                                <div class="card-header">
                                    <div class="icon icon-warning">
                                        <span class="material-icons">person</span>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Médecins</strong></p>
                                    <h3 class="card-title">70,340</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">info</i>
                                        <a href="#pablo">See detailed report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats shadow">
                                <div class="card-header">
                                    <div class="icon icon-rose">
                                       <span class="material-icons">event</span>

                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Rendez-vous</strong></p>
                                    <h3 class="card-title">102</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">local_offer</i> Product-wise sales
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats shadow">
                                <div class="card-header">
                                    <div class="icon icon-success">
                                        <span class="material-icons">account_circle</span>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Patients</strong></p>
                                    <h3 class="card-title">$23,100</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">date_range</i> Weekly sales
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats shadow">
                                <div class="card-header">
                                    <div class="icon icon-info">
                                    
<span class="material-icons">
follow_the_signs
</span>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Followers</strong></p>
                                    <h3 class="card-title">+245</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">update</i> Just Updated
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					
					
                        <div class="col-lg-13 col-md-18 ">
                            <div class="card shadow" style="min-height: 380px">
                                <div class="card-header card-header-text">
                                    <h4 class="card-title">Employees Stats</h4>
                                    <p class="category">New employees on 15th December, 2016</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-primary">
                                            <tr><th>ID</th>
                                            <th>Name</th>
                                            <th>Salary</th>
                                            <th>Country</th>
                                        </tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Bob Williams</td>
                                                <td>$23,566</td>
                                                <td>USA</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Mike Tyson</td>
                                                <td>$10,200</td>
                                                <td>Canada</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Tim Sebastian</td>
                                                <td>$32,190</td>
                                                <td>Netherlands</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>		
			<footer class="footer">
                <div class="container-fluid">
				  <div class="row">
				<div class="col-md-6" style="margin-left:630px;">
				 <p class="copyright d-flex justify-content-end" > © Copyright MedConnect. All Rights Reserved</p>
				</div>
				  </div>
				    </div>
            </footer>
					
					</div>
					
				

        </div>
    </div>






	
  
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
   <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
   <script src="assets/js/popper.min.js"></script>
   <script src="assets/js/bootstrap.min.js"></script>
  
  
  <script type="text/javascript">
  $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
				$('#content').toggleClass('active');
            });
			
			 $('.more-button,.body-overlay').on('click', function () {
                $('#sidebar,.body-overlay').toggleClass('show-nav');
            });
			
        });
        document.addEventListener('DOMContentLoaded', function() {
    // Sélectionner le lien "Profile" et ajouter un écouteur d'événement
    var profileLink = document.getElementById('profileLink');
    var profileLink2 = document.getElementById('profileLink2');
    if (profileLink) {
        profileLink.addEventListener('click', function(event) {
            event.preventDefault();
            window.location.href = '/profile';
        });
    }
    if (profileLink2) {
        profileLink2.addEventListener('click', function(event) {
            event.preventDefault();
            window.location.href = '/profile';
        });
    }

    // Sélectionner le lien "Logout" et ajouter un écouteur d'événement
    var logoutLink = document.getElementById('logoutLink');
    var logoutLink2 = document.getElementById('logoutLink2');
    if (logoutLink) {
        logoutLink.addEventListener('click', function(event) {
            event.preventDefault();
            window.location.href = '/';
        });
    }
    if (logoutLink2) {
        logoutLink2.addEventListener('click', function(event) {
            event.preventDefault();
            window.location.href = '/';
        });
    }
});
</script>
  </body>
  
  </html>